My workflow (4).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('WhatsApp Trigger').item.json.messages[0].text }}",
        "options": {
          "systemMessage": "=### Persona ###\nYou are 'Anas', a highly professional, patient, and expert personal stylist for a luxury Moroccan menswear boutique. Your tone is always elegant, welcoming, and helpful. You are a master at guiding clients to their perfect traditional garment.\n\n### Your Tools ###\n1.  **`Product_Info`:** Your primary tool for product knowledge. Use it to search the Google Sheet for details on Djellabas, Kaftans, Balghas, etc. It provides descriptions, materials, and prices.\n2.  **`Support_Issue`:** Your tool for solving problems. Use it to search the Google Sheet for solutions to common customer issues like shipping, payment, or product care.\n3.  **`Save_Customer_Info`:** Your tool for registering new orders and leads. You MUST use this tool after collecting all required information from a client.\n\n### Memory Protocol (CRITICAL) ###\nBefore every single response, you MUST review the recent conversation history to understand the full context.\n-   **DO NOT** ask for information the user has already provided (e.g., their name, the product they like).\n-   Once you know the user's name, you **MUST** address them by it (e.g., \"Thank you, Mr. [Name],\" or \"Of course, [Name]\").\n\n### Core Operating Logic & Rules ###\n\n1.  **Language Match:** You MUST respond in the exact same language the user is writing in (Arabic, French, English, etc.). Your persona remains the same regardless of language.\n\n2.  **Standard Interaction Flow:**\n    -   Your default action for any question is to first decide if it's a `Product_Info` question or a `Support_Issue` question.\n    -   Use the appropriate tool to find the answer.\n    -   You MUST base your answers strictly on the information retrieved from the tool. Do not invent information.\n\n3.  **\"I Don't Know\" Lead Capture Protocol (IMPORTANT):**\n    -   If a user asks a question and you use the `Product_Info` or `Support_Issue` tool but find no relevant information, **DO NOT** simply say \"I don't know.\"\n    -   Instead, you MUST pivot to a lead capture. Respond politely with: \"That's a very specific question, and I don't have the details in my knowledge base right now. However, I can have one of our expert stylists contact you directly with an answer. To do that, could I please get your full name, email, and phone number?\"\n    -   If they provide the information, use the `Save_Customer_Info` tool to save it.\n\n4.  **ORDER PROTOCOL (MULTI-STEP & PROGRESSIVE):**\n    -   **Trigger:** Initiate this protocol ONLY when a user expresses a clear intention to order a specific item.\n    -   **Goal:** Your objective is to progressively collect FIVE pieces of information: `Full Name`, `Phone Number`, `Email`, `Size`, and `Color`.\n    -   **Execution (CRITICAL):**\n        -   **DO NOT** ask for all the information at once. Engage in a natural, multi-turn conversation.\n        -   **Step A:** Acknowledge their choice and start by asking for the customizations. Example: \"The Fes Royal Djellaba is a magnificent choice. To ensure a perfect fit, what is your preferred size and color?\"\n        -   **Step B:** Once you receive that, acknowledge it and ask for the next piece of information. Example: \"Excellent. To finalize this order, could I please get your full name and phone number?\"\n        -   **Step C:** Continue this process patiently until you have collected ALL FIVE pieces of information. Use your memory to not ask for the same thing twice.\n        -   **Step D:** Once you have all five fields, you MUST call the `Save_Customer_Info` tool.\n        -   **Step E:** After the tool is called successfully, confirm to the user. Respond with: \"Thank you, Mr. [Name]. Your order for the [Product Name] in [Color], size [Size] has been registered. Our team will contact you shortly to confirm the details and arrange for payment and delivery.\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -48,
        -64
      ],
      "id": "19bb6939-cdf6-42d1-a11d-bd794d0d42d5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a505d4fd-6039-4207-8dfe-2d6bc49c934a",
              "name": "messages[0].text.body",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        -80
      ],
      "id": "61ad9f52-8a42-4b1d-a3f9-f259cd027467",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -576,
        192
      ],
      "id": "a8324076-53b9-4626-ab6b-de4a35bc004d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1120,
        -96
      ],
      "id": "c1a8897f-906b-4634-8941-2a678e68801b",
      "name": "WhatsApp Trigger",
      "webhookId": "ab3a198b-e1a0-4f1b-8cba-0379a55b5ea4",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "T7ApD2BoNZSGgCs9",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "733720876499204",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        304,
        -64
      ],
      "id": "dee753c1-4224-45ea-afac-baef0e2cc5c7",
      "name": "Send message",
      "webhookId": "dce81394-f5a3-4f39-8e18-c446e3fa86c1",
      "credentials": {
        "whatsAppApi": {
          "id": "RK6wLOaWbMuo1UrT",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FajiU1zbkqbUFrparzxWZIX3WTAXtiBvdxG5GghlxRs",
          "mode": "list",
          "cachedResultName": "COOL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FajiU1zbkqbUFrparzxWZIX3WTAXtiBvdxG5GghlxRs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1679382727,
          "mode": "list",
          "cachedResultName": "Support_Issue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FajiU1zbkqbUFrparzxWZIX3WTAXtiBvdxG5GghlxRs/edit#gid=1679382727"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -96,
        192
      ],
      "id": "a2352dcb-0c6c-46c2-94f7-767d4c5953e1",
      "name": "SUPPORT",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZrccrBXHpElMnzKn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1iHrP2otISLN58zEiCh1rnD1-IugvsEICjYfgrMYUaSE",
          "mode": "list",
          "cachedResultName": "Customer_Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iHrP2otISLN58zEiCh1rnD1-IugvsEICjYfgrMYUaSE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iHrP2otISLN58zEiCh1rnD1-IugvsEICjYfgrMYUaSE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "customer's name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('customer_s_name__using_to_match_', `name`, 'string') }}",
            "phone number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phone_number', `phone number`, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', `email`, 'string') }}",
            "selected product": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('selected_product', `name of product`, 'string') }}"
          },
          "matchingColumns": [
            "customer's name"
          ],
          "schema": [
            {
              "id": "customer's name",
              "displayName": "customer's name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone number",
              "displayName": "phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "selected product",
              "displayName": "selected product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        96,
        176
      ],
      "id": "40038047-d92b-4c31-9af7-6326de0852dd",
      "name": "Save_Customer_Info",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZrccrBXHpElMnzKn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FajiU1zbkqbUFrparzxWZIX3WTAXtiBvdxG5GghlxRs",
          "mode": "list",
          "cachedResultName": "COOL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FajiU1zbkqbUFrparzxWZIX3WTAXtiBvdxG5GghlxRs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Product_Info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FajiU1zbkqbUFrparzxWZIX3WTAXtiBvdxG5GghlxRs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -432,
        176
      ],
      "id": "95175fb9-d58a-4155-902a-fd1aeab489f7",
      "name": "PRODUCT INFO",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZrccrBXHpElMnzKn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "AGENT1",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "SESSIONID",
              "fieldValue": "={{ $('WhatsApp Trigger').item.json.messages[0].id }}"
            },
            {
              "fieldId": "MEMORY",
              "fieldValue": "={{ $fromAI(\"memory\",\"store new memory based on the user's input and be as specific as you can\") }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -320,
        224
      ],
      "id": "bf3305cc-b3b0-41ee-9abd-d83694dd401b",
      "name": "store_memory",
      "credentials": {
        "supabaseApi": {
          "id": "ukffZwsn8Yh0HzHW",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "AGENT1",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -192,
        224
      ],
      "id": "483bb643-bf05-4ebc-96fa-ccac47ee6ffc",
      "name": "get_memory",
      "credentials": {
        "supabaseApi": {
          "id": "ukffZwsn8Yh0HzHW",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7efddae6-44f5-4857-bf7b-0e796efa4680",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f4c1fd7f-2e39-4eca-9838-0e5646ec3365"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -912,
        -96
      ],
      "id": "d5ad11f0-895f-4389-b58a-16c1cc556210",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -640,
        -320
      ],
      "id": "80741aa4-af61-4665-b501-1775b284dcb0",
      "name": "Download media",
      "webhookId": "efd27611-48f0-42d3-8f90-19cd06fadc8b",
      "credentials": {
        "whatsAppApi": {
          "id": "RK6wLOaWbMuo1UrT",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "AUTHORIZATION",
              "value": "bearer EAAbfEQdV1iIBPbN2jZB3VmK3TmgKWwMUvFHpmzuTMZBtkEXvKxoVFLEnwmSJC9YZBE3ZCynflr0cy35gS0l4rhTDAtGvZChXMxh5rDHQIMQMwh0jEbbJltVAejdruhPcpPIxx0P1lA6XaDIOxDzqZCI99TMrZCg55FB6Y22xzEXfvuU2ObOQhQ1ioRBczoeOKgwbhkLE1MlQ5PEK7ZCui3faezUocBmRWoeSh6O2wgJrQNwZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        -336
      ],
      "id": "77f05971-32bd-40de-9e82-c8ee3acfa90e",
      "name": "HTTP Request",
      "credentials": {
        "whatsAppApi": {
          "id": "RK6wLOaWbMuo1UrT",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-1.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-1.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        -320
      ],
      "id": "e24393c3-2948-49c5-bbad-86eb5060de8b",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "7ymoHjEs8e8WpIzo",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -736,
        192
      ],
      "id": "770b7767-da12-4ade-84df-172705c8106e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7ymoHjEs8e8WpIzo",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save_Customer_Info": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SUPPORT": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PRODUCT INFO": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "store_memory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "get_memory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ebf6eb96-7e5c-4e9c-8bfe-0b863bd689ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "54ba63b56e5a21a8d5c766e48a39c79540bc30883bd5e3bec33447018a67ec81"
  },
  "id": "U4vguRA5fBYpoZpH",
  "tags": []
}